.header-btn{
    background-color:  #23475e;
}

.header-btn:hover{
    border-color: white;
}

.video-container{
    max-width: 1600px;  
    overflow: hidden;
}

.video-container video{
    display: block;
    width: 100%;
    pointer-events: none;
}

.marine-blue-bg{
    background-color: #1B4965;
}

.container-link
{
    text-decoration: none;
}

.container-link .card{
    transition: transform 0.3s ease; 

}
.container-link:hover .card{
    transform: scale(1.005); 
    opacity: 90%;
}

.tours-section{
    margin: 50px 0 90px 0;
}

.footer-btn{
    background-color: #37d177;
}

.footer-btn:hover{
    background-color: #54c583;
    color: black;
}
@media (max-width: 992px) {

    .video-container{
        height: 600px;
    }

    .video-container video{
        width: auto;
        height: 600px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .navbar-nav {
        flex-direction: row !important;
        justify-content: space-evenly;
        padding-bottom: 10px;
      }
}